.row{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    padding: 10px;
    justify-content: space-between;
    gap: 10px;
}

.cell{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(247, 255, 212);
    border-radius: 20px;
}